name: CI

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - dist/*
  push:
    branches: [main]
    paths-ignore:
      - dist/*
    tags:
      - v*.*.*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: 18

      - run: pnpm i --frozen-lock

      - run: pnpm type-check

      - run: pnpm format:check

      - run: pnpm lint

      - run: pnpm build

      - uses: actions/upload-artifact@v3
        with:
          name: actions-vercel-dist
          path: ./dist

      - name: Commit dist files
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./dist
          git commit -m "build: update \`dist\` files" || true
          git push

  deploy:
    needs: [build]
    name: Deploy
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/')
    permissions:
      contents: read
      deployments: write
      statuses: write

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: 18

      - uses: actions/download-artifact@v3
        with:
          name: actions-vercel-dist
          path: ./dist

      - uses: ./
        id: vercel
        with:
          token: ${{ secrets.VERCEL_TOKEN }}
          prebuilt: true
          production: ${{ github.ref == 'refs/heads/main' }}
          project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          org-id: ${{ secrets.VERCEL_ORG_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          echo ${{ steps.vercel.outputs.deployment-url }}
          echo ${{ steps.vercel.outputs.deployment-status }}

  release:
    name: Release
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: 18

      - name: Setup git-cliff
        uses: kenji-miyake/setup-git-cliff@v1

      - uses: actions/github-script@v6
        id: git-cliff
        with:
          result-encoding: string
          script: |
            const { stdout } = await exec.getExecOutput('git', ['cliff', '-l', '--strip', 'header'])
            return stdout
      - name: Create draft release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          body: ${{ steps.git-cliff.outputs.result }}
